# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/ai_ecommerce

# JWT
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=hghhg
JWT_REFRESH_EXPIRE=7d

# Flask AI Service
FLASK_AI_URL=http://localhost:5001

# Email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Frontend URL (for CORS and reset password links)
FRONTEND_URL=http://localhost:3000

# Cloudinary (get from cloudinary.com)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=




# Flask AI Service
FLASK_AI_URL=http://localhost:5001